@model IRepository

@{
    Layout = "_InvestigatorLayout";
}

<h2>Ärenden</h2>
<p class="info">Du är inloggad som handläggare</p>

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <select name="status">
                <option selected="selected">Välj alla</option>
                @foreach (var status in Model.Status)
                {
                    <option>@status.StatusName</option>
                }
            </select>
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
        <td><input name="casenumber" /></td>
        <td><input class="button" type="submit" value="Sök" /></td>
    </tr>
</table>	

<table>
    <tr>
        <th>Ärende anmält</th>
        <th>Ärendenummer</th>
        <th>Miljöbrott</th>
        <th>Status</th>
        <th>Avdelning</th>
        <th>Handläggare</th>
    </tr>

    @{ 
        string name = "";
        foreach (var Crimecase in Model.Employees)
        {
            if (Crimecase.EmployeeID == ViewBag.ID)
            {
                name = Crimecase.EmployeeName;
                break;
            }
        }
    }

@if (Model.Cases.Any())
{
    @foreach (var Case in Model.Cases.Where(e => e.Employee == name))
    {
        <tr>
            <td>@Case.DateTimeOfObservation.ToString("yyyy/MM/dd")</td>
            <td><a asp-controller="Investigator" asp-action="Crimeinvestigator" asp-route-id="@Case.ID">@Case.RefNumber@Case.ID</a></td>
            <td>@Case.TypeofCrime</td>
            <td>@Case.Status</td>
            <td>@Case.Department</td>
            <td>@Case.Employee</td>
        </tr>
    }
}
</table>

